@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'widget/assets/scss/reset';
@import 'shared/assets/fonts/InterDisplay/inter-display';

html,
body {
  font-family: 'InterDisplay', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  letter-spacing: 0.2px;
}

// Taking these utils from tailwind 3.x.x, need to remove once we upgrade
.scroll-mt-24 {
  scroll-margin-top: 6rem;
}

.top-24 {
  top: 6rem;
}

.heading {
  .permalink {
    visibility: hidden;
  }

  &:hover {
    .permalink {
      visibility: visible;
    }
  }
}

$callout-bg-color: #f1f1f3;
$callout-fg-color: #393d40;

article {
  blockquote {
    background: $callout-bg-color;
    border-radius: 12px;
    color: $callout-fg-color !important;
    padding: 1px 20px;

    p {
      font-style: normal;
      font-weight: normal;
      hyphens: auto;
    }

    > p {
      clear: left;
      padding-left: 2rem;

      &::first-letter {
        float: left;
        font-family: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
        margin-left: -2rem;
      }
    }

    p::before,
    p::after {
      content: '' !important;
      display: none;
    }
  }
}

.prose {
  pre {
    background: $callout-bg-color !important;
    border-radius: 12px;
    color: $callout-fg-color !important;
    font-weight: 400;
  }

  code {
    background: $callout-bg-color !important;
    color: $callout-fg-color !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600 !important;

    &:not(:first-child):not(& + h1):not(& + h2):not(& + h3):not(& + h4):not(& + h5):not(& + h6) {
      margin-top: 4rem;
    }
  }
}


